<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Esqueleto para Slim</title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4">My first page</h1>
                    <hr>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum libero nec venenatis vestibulum. Aenean
                        orci mauris, finibus ac suscipit nec, dignissim et sem. Donec ex sapien, lobortis eu rutrum facilisis, consequat
                        eget dolor. Pellentesque feugiat gravida volutpat. Nunc id nulla eget ipsum luctus malesuada. In hac habitasse
                        platea dictumst. Nulla cursus dui eros, vel egestas ligula sodales ac. Nulla eget diam vel arcu laoreet
                        convallis. Aenean id tellus consequat, commodo felis eu, efficitur nulla. Quisque interdum lacus quis nulla
                        lacinia dapibus. Sed in urna consectetur, viverra velit sed, blandit nunc.
                    </p>
                    <ul class="lead">
                        <li>{{ mercado }}</li>
                        <li>{{ varejo }}</li>
                        {% for l in range %}
                            <li>{{ l }}</li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <!-- HELPER ALERT -->
                    {{ alert|raw }}
                    <hr><br>
                    <!-- HELPER PAGINATION -->
                    {{ pagination|raw }}
                </div>
            </div>
        </div>
        <script src="/public/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/public/js/popper.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/js/feather.min.js"></script>
        <script>
            feather.replace();
        </script>
    </body>
</html>